@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

li , a {
  font-family: "Gothic A1", "Monaco";
  font-weight: 100;
  font-size: 25px;
  color: #d3d1d1;
  text-decoration: none
}

header{
display: flex;
justify-content: space-between;
align-items: center;

background-color: rgb(44, 44, 44);
}

.navBar {
  list-style-type: none;
  text-align: center;
}

.navBar li {
  display: inline-block;
  padding: 25px;
}

.navBar li a {
  transition: all 0.3s ease 0s;
}
.navBar li a:hover {
  color: rgb(255, 255,255);
}


